.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a84ff;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Player {
  padding-top: 10vh;
}

.tokenInput {
  height: 5vh;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #0a84ff;
  border-radius: 6px;
}

.tokenButton {
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: #0a84ff;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
